/* 기본 설정 */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.wrap {
  width: 502px;
  height: 639px;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* 박스 설정 */

.box {
  display: flex;
  position: relative;
  /* box-sizing: border-box; */
}

.box:hover {
  border: 1px solid var(--blue-600, #0074E9);
}

.big-box {
  /* background-color: aqua; */
  width: 502px;
  height: 310px;
  justify-content: space-between;
  padding: 20px 28px;
  border: 1px solid var(--gray-500, #C4C4C4);
  background: var(--White, #FFF);
}

.box-title {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 55px;
}

.box-title strong {
  margin-top: 20px;
  font-size: 24px;
  color: var(--gray-800, #4E4E4E);
  text-align: center;
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

.small-box {
  /* background-color: blue; */
  width: 243px;
  height: 310px;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  border: 1px solid var(--gray-500, #C4C4C4);
  background: var(--White, #FFF);
}

.small-box strong {
  margin-top: 10px;
  margin-bottom: 7px;
  color: var(--gray-800, #4E4E4E);
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}

.button-set {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  bottom: 20px;
  width: 42px;
  height: 42px;
  background-color: var(--opacity-20, rgba(0, 0, 0, 0.20));
}

.button-set:hover {
  display: inline-flex;
  width: 112px;
  height: 42px;
  padding: 12px 18px 13px 20px;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-600, #0074E9);
}

.button-set:hover::before {
  content: '구매하기';
  color: var(--White, #FFF);

  /* Text/Medium/14 */
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%; /* 16.8px */
  display: inline-block;
}